* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-transition: 1s all;
  transition: 1s all;
}

h1 {
  font-size: 50px;
  padding: 10px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.modal {
  z-index: 14;
  top: 100px;
  left: auto;
  margin: auto;
  position: absolute;
  display: none;
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
  z-index: 2;
  padding: 20px;
  -webkit-box-shadow: inset 2px 2px 5px;
          box-shadow: inset 2px 2px 5px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  margin: auto;
  margin-top: 200px;
  -webkit-box-shadow: 3px 3px 12px 8px;
          box-shadow: 3px 3px 12px 8px;
}

.container .ruutu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background: darkgrey;
}

.container .ruutu .pu {
  color: red;
  font-size: 5rem;
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.container .ruutu .vi {
  color: green;
  font-size: 5rem;
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.tulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  width: 500px;
  height: 200px;
  margin: auto;
}

.tulos #vuoro {
  color: red;
}

.tulos button {
  font-size: 2rem;
  color: white;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 2px 2px;
          box-shadow: inset 0px 0px 2px 2px;
}

.end {
  display: block;
}

@media screen and (max-width: 600px) {
  body {
    background: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .container {
    margin-top: 100px;
    width: 200px;
  }
  .modal {
    font-size: 1.5em;
    padding: 10px;
  }
  .tulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5em;
    width: 300px;
    height: 200px;
    margin: auto;
  }
  .tulos p {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=tyyli.css.map */